body {
    background-color: slateblue;
}

h1,h2,h3,h4,h5,h6 {
font-family:Arial, Helvetica, sans-serif;
color:aliceblue;
text-align:center;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lavender;
    text-align:left;
}

.footerpara {
    text-align: center;
}

.menu {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between
}

button:hover {
background-color: darkmagenta;
color:aliceblue;
}




.sect1 {

    background-color:darkslateblue;
}

.sect2 {
    background-color:rgb(56, 47, 116);
   
   
}

.sect3 {
    background-color:rgb(37, 27, 98);
   

}

.sect4 {
    background-color:rgb(30, 25, 65);
   
}

.sect5 {
    background-color:rgb(14, 11, 30);
   
}


