body {
    background-image:url("images/backgroundimg.jpg");
    
    
}

h1,h2,h3,h4,h5,h6 {
font-family:Arial, Helvetica, sans-serif;
color:aliceblue;
text-align:center;
}

p {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: lavender;
    text-align:left;
}

.footerpara {
    text-align: center;
}

.menu {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content:space-between
}

button:hover {
background-color: darkmagenta;
color:white;
}

.sect1 {
    background-color:midnightblue;
}

.posterclass {
    display: inline-block;
    text-align: center;
}


.sect2 {
    margin:auto;
    display: inline-block;
    flex:center;
   
}

.typoclass {
   display: inline-block;
    text-align: center;
    

}

.sect3 {
    margin:auto;
    display: inline-block;
    flex:center;
}

.sect4 {
    background-color:rgb(30, 25, 65);
   
}

.sect5 {
    background-color:rgb(14, 11, 30);
   
}


